@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;600;700;800;900&family=Lato:ital,wght@0,700;1,400;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Work+Sans:wght@400;500;600;700;800&display=swap');
/* shared style */
*{
    font-family: 'Work Sans', sans-serif;
}
.btn_primary{
    border-radius: 8px;
    background: #FF900E;
    font-size: 1.25rem;
    font-weight: 600;
    color: white;
    padding: 20px 25px;
    cursor: pointer;
    border: 0;
}
/* header styles */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}
nav ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-size: 1rem;
    font-weight: 500;
}
nav li a{
    text-decoration: none;
    color: #424242;
}
/* banner styles */

.banner_content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner_title{
    color: #131313;
    font-size:4rem;
    font-weight: 700;
}
.bannner_description{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}
.banner img{
    margin-top: 20px;
    width: 100%;
}

main{
    max-width: 1440px;
    margin: 70px auto;
}

.team_content_title{
    font-size: 2.8rem;
    font-weight:700;
    color: #131313;
}
.title_dark{
    color: #727272;
    font-weight: 500;
}
.title_orange{
    color: #FF900E;
}
.teams_container{
    display: flex;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
}
.teams_container_image{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
.teams_container_image img{
    width: 100%;
}
.team_content{
    padding-left: 70px;
    padding-right: 70px;
}

/* Responsive design for small device */

@media screen and (max-width:576px){
    header,main{
        padding: 20px;
    }
    nav, nav ul{
        flex-direction: column;
    } 
    .teams_container {
         flex-direction: column;
         padding-left: 20px;
         padding-right: 20px;
    }
    
    .teams_container_image {
         grid-template-columns: 1fr;
    }
    .teams_container_image img{
        width: 100%;
    }
}

/* responsive design for medium device */
@media screen and (min-width:576px) and (max-width:992px) {
    header{
        padding: 36px;
    }
    nav,.teams_container{
        flex-direction: column;
    }
    .teams_container{
        padding-left: 50px; 
        padding-right: 50px;
    }
    .teams_container_image img{
        width: 100%;
    }
}